<template>
    <div>
        <div class="callout alert" v-for="error in messages">
            <button class="close-button" aria-label="Close alert" type="button" @click="messages.remove(error)">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ error }}</p>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['messages']
    }
</script>
