<template>
    <div>
        <form>
            <div class="row">
                <div class="small-12 columns clearfix">
                    <div class="float-left">
                        <label for="fileUpload" class="button" :disabled="uploading" >Select file</label>
                        <input type="file" id="fileUpload" @change="setFile" class="show-for-sr">
                    </div>
                    <h4 class="filename">
                        {{ filename }}
                    </h4>
                    <div class="float-right">
                        <button type="button" @click="upload" :disabled="!hasFile || uploading" class="success button">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <errors :messages="errors"></errors>
        <table class="unstriped file-list">
            <thead>
                <tr>
                    <th width="1px">ID</th>
                    <th>filename</th>
                    <th width="1px">Rows</th>
                    <th width="1px">Date</th>
                    <th width="1px"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="loading">
                    <td colspan="5">
                        <h-loader></h-loader>
                    </td>
                </tr>
                <tr v-for="file in files">
                    <td><strong>{{ file.id }}</strong></td>
                    <td>{{ file.name }}</td>
                    <td class="text-center">{{ file.count }}</td>
                    <td class="text-nowrap">{{ file.created_at }}</td>
                    <td class="text-nowrap">
                        <button type="button" class="primary button small no-margin has-tip bottom" v-ttip data-tooltip aria-haspopup="true"
                            data-click-open="false" data-disable-hover="false" tabindex="1" title="Import">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="alert button small no-margin has-tip bottom" v-ttip data-tooltip aria-haspopup="true"
                            data-click-open="false" data-disable-hover="false" tabindex="1" title="Delete" @click="delete(file)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                files: null,
                filename: '',
                errors: [],
                percents: 0,
                hasFile: false,
                uploading: false,
                loading: false
            }
        },
        created () {
            this.loadFiles();
        },
        methods: {
            upload () {
                this.uploading = true;
                var form = new FormData();
                var file = $('#fileUpload')[0].files[0];
                var self = this;
                form.append('sheet', file, file.name);
                this.$http.post('/api/files', form, {
                    progress (event) {
                        self.percents = Math.ceil((event.loaded / event.total) * 100);
                    }
                }).then(
                    (response) => {
                        this.loadFiles();
                        this.uploading = false;
                    },
                    (response) => {
                        console.log(response);
                        this.errors.push(response.body.message);
                        this.uploading = false;
                    }
                );
            },
            delete (file) {
                this.$http.delete('/api/files/' + file.id).then(
                    (response) => {
                        this.loadFiles();
                    },
                    (response) => {
                        console.log(response);
                        this.errors.push('Cannot delete file id ' + file.id);
                    }
                );
            },
            setFile () {
                this.filename = $('#fileUpload')[0].files[0].name;
                this.hasFile = true;
            },
            loadFiles () {
                this.loading = true;
                this.$http.get('/api/files').then(
                    (response) => {
                        response.json().then(
                            (files) => {
                                this.files = files;
                                this.loading = false;
                            }
                        );
                    },
                    (response) => {
                        console.log(response);
                        this.errors.push(response.body.message);
                        this.loading = false;
                    }
                );
            }
        }
    }
</script>
