@import "settings";
@import "../../../node_modules/foundation-sites/scss/foundation.scss";
@include foundation-everything;

html {
    font-size: 18px;
}
.text-nowrap {
    white-space: nowrap;
}
table.file-list {
    border-spacing: 0;
    td {
        vertical-align: middle;
    }
    th {
        text-align: center;
    }
}
.button.no-margin {
    margin: 0;
}
.has-tip {
    cursor: inherit;
}
.filename {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.file-list-container {
    position: relative;
}
